<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Votacion</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Votacion.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="css/estilo_inicio.css">
	@await RenderSectionAsync("Éstilos", required: false)


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-light" id="nav">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Votacion</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">

							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ListadoUsuario">Usuario</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Candidato" asp-action="ListadoCandidato">Candidatos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Eleccion" asp-action="ListadoEleccion">Elecciones</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Votaciones" asp-action="ListadoVotaciones">Votaciones</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Votante" asp-action="ListadoVotante">Votantes</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</header>
	<div>
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<!-- INICIO FOOTER-->
	<footer class="bg-dark text-center">
		<div class="container p-4 rounded-social-buttons">
			<section class="mb-3">
				<a class="social-button facebook" href="https://www.facebook.com/" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a class="social-button twitter" href="https://www.twitter.com/" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
				<a class="social-button instagram" href="https://www.instagram.com/" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<div class="text-center p-3 text-white">
					Voto electronico 2024 | Todos los derechos reservados.
				</div>
			</section>
		</div>
	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="js/funciones.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
